{% extends 'base.html' %}
{% load static %}
{% block title %} тур оператор мечты {% endblock %}
{% block index %}
<!-- карусель -->
{% include 'carousel.html' %}
<!-- Карточки -->
{% include 'price.html' %}
<!-- форма -->
<section>
	<div class="container class_form">
		<h1 class="text-3">Оставьте заявку и Вам перезвонят</h1>
		<div class="row justify-content-center">
			<form action="{% url 'thanks' %}" method="POST" style="width: 50%;">
				{% csrf_token %}
				{% for field in form %}
				<div class="form-group row">
					<label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label}}</label><br>
					{{ field }}
					<div class="">
					</div>
				</div>
				{% endfor %}
				<div style="float: right;" class="form-group row">
					<button type="submit" class="btn btn-success">ОСТАВИТЬ ЗАЯВКУ</button>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock %}
